<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <link rel="stylesheet" type="text/css" href="/css/main.css">
        </head>
        <body>
            <div class="header">
			<div class="container">
				<h1 class="header-heading">Sitename</h1>
			</div>
		</div>
		<div class="nav-bar">
			<div class="container">
				{% include nav.html %}
			</div>
		</div>
		<div class="content">
			<div class="container">
			{{ content }}
			</div>
		</div>
        <div class="footer">
			<div class="container">
				<p>footer goes here</p>
			</div>
		</div>
        </body>
    </html>
